* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html , body {
    font-family: 'Poppins', sans-serif;
 color:black;
}

/*Color de los parrafos*/

a, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

a:hover{
    color:#F4EBEB;
}

 ul ,li, a {
    text-decoration: none;
    color: inherit;
list-style: none;
}

main {
    background-color:pink;
}

nav
{
    background-color:#458882;
    padding:0;
    margin:0;
    
}

.navbar-nav > li{
    padding-left:2px;
    padding-right:2px;
  }

nav ul li {
    margin-left: 10px;
    font-size: 1.3rem;
}

.titulo {
    padding-top: 1rem;
}

/* <!-- CAROUSEL --> */


.carousel-title {
    font-size: 3rem;
    color: pink;
    text-shadow: 1px 1px 20px #000000;
    text-decoration: black;
}


/* <!-- SOCIAL MEDIA --> */
.social  a {
    font-size: 2.5rem;
padding: 2rem;
}

.fa-facebook {
    color:#3b5998;
}

.fa-twitter {
    color: #00aced;
}

.fa-instagram {
    color:#517fa4;
}
.fa-facebook:hover ,.fa-instagram:hover,.fa-twitter:hover {
    color: #d5d5d5;
}

footer {
    color: #d5d5d5;
    padding-top: 2rem;
     text-align:center;
      background-color:#458882;
      
    }
hr  {
     border-top: 2px solid;
     color: #d5d5d5;
     

}

    @-webkit-keyframes rotate {
        from { -webkit-transform: rotate(0deg) }
        to { -webkit-transform: rotate(360deg) } 
        
    }
    
    .logo {
        padding-top: 6px;
    display: inline-block;
    animation:rotate 2s  infinite;
    animation-timing-function: cubic-bezier(0,0,.0,0);
    }

    