* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Color de los parrafos*/

h1 , h2 ,h3, h4 , p, a {
    color:black;
    font-family: 'Lato', sans-serif;
}


a, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}